.navstyle{
    width: 100%;
    height: 100%;
    background-color: #6ab046;
    color: antiquewhite;
}
.navstyle button{
    height: 50px;
    width: 33.33%;
    font-size: medium;
    justify-content: center;
    align-items: center;
    color: blueviolet;
    border-width: 2;
    border-color: blueviolet;
}
button.active{
    background-color: blueviolet;
    color: aliceblue;
}
.components{
    padding-top: 30px;
    background-color: rgb(238, 237, 237);
    width: 100%;
    height: 300px;
    /* align-items: center;
    text-align: center; */
}
.project{
    padding-top: 10px;
    background-color: rgb(241, 166, 166);
    width: 100%;
    height: 350px;
    /* align-items: center;
    text-align: center; */
}
table{
    width: 100%;
}
table td{
    text-align: center;
}
table tr{
    border-width: 1px;
    border-color: black;
}

table th,table td{
    border:1px solid black;
   }
.projectist{
    padding-left: 15px;
}